<html>

<head>
	<title>404 - TheFrenchWikiGame</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../css/index.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>

</head>
<style>

    .background {
        background-size: cover;
    }
</style>

<body>
    <section class="section is-large is-link columns is-vcentered">
        <h2>J'ai rien trouvé</h2>
    </section>
</body>
</html>
